.sec1 {
	background-color: #D8BFD8;
	margin: 20px 20px;
	color: #ffffff;
	height: 100px;
	text-align: center;
}

.sec2 {
	background-color: #BDB76B;
	margin: 20px 20px;
	color: #ffffff;
	height: 100px;
	text-align: center;
}

.sec3 {
	background-color: #BC8F8F;
	margin: 20px 20px;
	color: #ffffff;
	height: 100px;
	text-align: center;
}

.sec4 {
	background-color: #90EE90;
	margin: 20px 20px;
	color: #ffffff;
	height: 100px;
	text-align: center;
}

.res {
	color: #000000;
}